* {
    padding: 0;
    margin: 0;
    color: #dddd;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia', cursive;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;

}

h1 {
    font-family: 'Sofia', cursive;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

h2,h3,h4 {
    font-family: 'Sofia', cursive;
}

body {
    background: rgb(20, 8, 62);
    background: linear-gradient(140deg, rgba(20, 8, 62, 1) 22%, rgba(20, 26, 34, 1) 61%, rgba(88, 97, 108, 1) 100%);
}

/* cabeçalho */

nav{
    margin-bottom: 100px;
    position: fixed;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.938813025210084) 0%, rgba(0,0,0,0) 100%);
}


nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    margin-bottom: 100px;
}

nav li {
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #C4C4C4;
}

nav img {
    width: 100px;
}

.titulo__principal {
    text-align: center;
    font-size: 70px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.subtexto__principal {
    font-size: 25px;
    text-align: center;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

h2,
h3 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 40px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

p {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.imagem__personagem {
    height: 375px;
    width: auto;
    border-radius: 30px;
    border: 1px solid white;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.animal__amasso {
    padding: 50px;
    display: flex;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.texto__amasso {
    font-size: 20px;
    margin-top: 100px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    padding-left: 50px;
}

.animal__barriga {
    padding: 50px;
    display: flex;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.texto__barriga {
    order: -1;
    text-align: right;
    font-size: 20px;
    margin-top: 100px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    padding: 50px;
}

.animal__hipogrifo {
    padding: 50px;
    display: flex;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.texto__hipogrifo {
    font-size: 20px;
    margin-top: 100px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    padding: 50px;
}

.animal__basilisco {
    padding: 50px;
    display: flex;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.texto__basilisco {
    order: -1;
    text-align: right;
    font-size: 20px;
    margin-top: 100px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    padding: 50px;
}

.animal__cerberus {
    text-align: center;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.texto__cerberus {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;

}

.animal__centauro {
    display: flex;
    padding: 50px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.texto__centauro {
    order: -1;
    text-align: right;
    font-size: 25px;
    margin-top: 100px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    padding-right: 50px;
}

/* Footer */

footer{
    grid-area: footer;

    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.texto__footer{
    color: grey;
    font-size: 10px;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}