* {
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia', cursive;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;

}

h1 {
    font-family: 'Sofia', cursive;
}

p {
    font-size: 20px;
}

body {
    background-color: #100129;

}

#grade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    /* 5 linhas 2 colunas */
    "nav nav"
    "a_origem a_origem"
    "grifinoria sonserina"
    "corvinal lufalufa"
    "footer footer";
}
    
/* cabeçalho */

nav{
    grid-area: nav;
    margin-bottom: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    background-color: #474747;
    margin-bottom: 100px;
}

nav li {
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #C4C4C4;
}

nav img {
    border: solid 1px #C4C4C4;
    border-radius: 50% ;
    width: 80px;
}

.bg__bege{
    background-color: bisque;
}
.bg__vermelho{
    background-color: brown;
    padding: 20px;
}

#conteudo__casas {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1; 
}

.casas_a_origem{
    text-align: center;
    grid-area: a_origem;
}

.casas_a_origem h1 {
    font-family: 'Sofia', cursive;
    font-size: 40px;
    padding: 10px;
}

.casas_a_origem h2{
    font-family: 'Sofia', cursive;
    font-size: 30px;
    padding: 10px; 
}

.casas_a_origem p{
    padding: 10px;
}

.casas_blocointerno_grifinoria{
    text-align: center;
    grid-area: grifinoria;
}

.casas_blocointerno_sonserina{
    text-align: center;
    grid-area: sonserina;
}

.casas_blocointerno_corvinal{
    text-align: center;
    grid-area: corvinal;
}

.casas_blocointerno_lufalufa{
    text-align: center;
    grid-area: lufalufa;
}

/* Footer */

footer{
    grid-area: footer;
    margin-top: 100px;
    padding: 10px;
}
.texto__footer{
    color: grey;
    font-size: 10px;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}