* {
    padding: 0;
    margin: 0;
    color: #dddd;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia', cursive;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    
}
/*FOOTER*/
:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}


footer{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link{
    text-decoration: none;
}

#footer__conteudo{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 2fr 30px;
    grid-template-areas: 
    "logo home pages subscribe"
    "footer footer footer footer";
    padding: 3rem 3.5rem;
}

#footer__contatos h1{
    margin-bottom: 0.75rem;
    grid-area: logo;
}

#footer__pages{
    grid-area: pages;
}

#footer__home{
    grid-area: home;
}

#footer__socialmedia{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer__socialmedia .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    background: #333;
    transition: all 0.4s;
}

#footer__socialmedia .footer-link:hover{
    opacity: 0.8;
}

#footer__socialmedia .footer-link i {
    font-size: 1.70rem;
}

.footer__list{
    display:flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer__list .footer__link{
    color: var(--color-neutral-30);
    transition: all 0.4s;
    text-decoration: none;
}

.footer__list .footer__link:hover{
    color: #0e76a8 ;
}

#footer__subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer__subscribe p {
    color: var(--color-neutral-30);
    grid-area: subscribe;
}

#input__group{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input__group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
    border: solid 1px #0e76a8;
}

#input__group button{
    background-color: #0e76a8;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input__group button:hover{
    opacity: 0.8;
}

#footer__copyright{
    display: flex;
    justify-content: center;
    grid-area: footer;
    align-self: center;
    padding-top: 30px;
    font-size: 0.75rem;
}
/*FINAL DO FOOTER*/

h1 {
    font-family: 'Sofia', cursive;
}

p {
    font-size: 20px;
}

body {
    background: rgb(20, 8, 62);
    background: linear-gradient(140deg, rgba(20, 8, 62, 1) 22%, rgba(20, 26, 34, 1) 61%, rgba(88, 97, 108, 1) 100%);
}

#grade {
    display: grid;
    grid-area: casas;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    /* 2 linhas 2 colunas */
    "nav nav"
    "origem origem"
    "grifinoria sonserina"
    "corvinal lufalufa"
    "footer footer"
} 

/* cabeçalho */

nav{
    margin-bottom: 100px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.938813025210084) 0%, rgba(0,0,0,0) 100%);
    grid-area: nav;
}


nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    align-items: center;
    padding-left: 0px;
}

nav li {
    text-align: center;
    flex: 1;
}

nav a {
    text-decoration: none;
    color: #C4C4C4;
}

nav img {
    margin-top: 60px;
    width: 100px;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #9c9c9c;
}

#conteudo__casas {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1; 
}

.casas_a_origem{
    text-align: center;
    grid-area: origem;
    margin-top: 150px;
}

.casas_a_origem h1 {
    font-family: 'Sofia', cursive;
    font-size: 40px;
    padding: 10px;
}

.casas_a_origem h2{
    font-family: 'Sofia', cursive;
    font-size: 30px;
    padding: 10px; 
}

.casas_a_origem p{
    padding: 10px;
}

.casas_a_origem img {
    border-radius: 30px;
    border: 1px solid white;
}

.casas__bloco__interno__grifinoria{
    text-align: center;
    grid-area: grifinoria;
    padding: 10px;
}

.casas__bloco__interno__sonserina{
    text-align: center;
    grid-area: sonserina;
    padding: 10px;
}

.casas__bloco__interno__corvinal{
    text-align: center;
    grid-area: corvinal;
    padding: 10px;
}

.casas__bloco__interno__lufalufa{
    text-align: center;
    grid-area: lufalufa;
    padding: 10px;
}

.casas__imagem{
    height: 436px;
    width: 470px;
}


@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}