* {
    padding: 0;
    margin: 0;
    color: #dddd;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia', cursive;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;

}

h1 {
    font-family: 'Sofia', cursive;
}

body {
    background: rgb(20, 8, 62);
    background: linear-gradient(140deg, rgba(20, 8, 62, 1) 22%, rgba(20, 26, 34, 1) 61%, rgba(88, 97, 108, 1) 100%);
}

/* cabeçalho */

nav{
    margin-bottom: 100px;
    position: fixed;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.938813025210084) 0%, rgba(0,0,0,0) 100%);
}


nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    margin-bottom: 100px;
}

nav li {
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #C4C4C4;
}

nav img {
    width: 100px;
}

/* Footer */


.cronologia__titulo{
    margin-top: 150px;
}

.ordem__filme{
    width: 40%;
    margin: 0 auto;
}


body {
    background-color: #100129;
}


.cronologia{
    padding: 50px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.cronologia__imagem{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.cronologia__imagem img{
    border-radius: 30px;
    border: 1px solid white;
}

.cronologia__imagem2{
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.cronologia__imagem2 img{
    border-radius: 30px;
    border: 1px solid white;
}

.cronologia__imagem3{
display: flex;
justify-content: center;
margin-bottom: 10px;
}

.img3{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid white;
}

div {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1; 
}

div.ull {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center }
  div.ull p {
    margin: 0 }

.ull li {
    font-size: 20px;
}


b {
    width: 10%;
    margin: 0 auto;
}
    
    @keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.texto__cronologia{
    text-align: center;
    padding: 50px;

}

.texto__cronologia h3 {
    font-size: 20px;
}


.texto__cronologia2 h3 {
    font-size: 20px;
}

.texto__cronologia2{
    text-align: center;
    padding: 50px;
    color: #C4C4C4;

}

#cro {
    width: 100%;
    margin: 0 auto;
  }

  #cro h1 {
    font-size: 48px;
    text-align: center;
  }

  IMG.img3 {
    display: block;
    margin-left: auto;
    margin-right: auto }

    div.texto_p {
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center }
      div.texto_p p {
        margin: 0 }

.texto_p {
    font-size: 20px;
}

.ordem__filme {
    width: 100%;  
    text-align: center;
}

.ordem__filme b{
    font-size: 48px;
    text-align: center;
    font-family: 'Sofia', cursive;
}

/* Botoes anos */
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.botoes button {
    background-color: brown;
    color: black;
    text-transform: uppercase;
}

.botoes button:hover {
    color: brown;  
    background-color: black;
}

footer{
    grid-area: footer;
    margin-top: 100px;
    padding: 10px;
}
.texto__footer{
    color: grey;
    font-size: 10px;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
}
