* {
    padding: 0;
    margin: 0;
    color: #dddd;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia', cursive;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

h1 {
    font-family: 'Sofia', cursive;
}

#grade {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto;
    grid-template-areas: 
    "conteudo";
}

/* cabeçalho */

nav{
    margin-bottom: 100px;
    position: fixed;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.938813025210084) 0%, rgba(0,0,0,0) 100%);
}


nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    margin-bottom: 100px;
}

nav li {
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #C4C4C4;
}

nav img {
    width: 100px;
}

.links a {
    text-decoration: none;
    color: #C4C4C4;
}

body {
    background: rgb(20, 8, 62);
    background: linear-gradient(140deg, rgba(20, 8, 62, 1) 22%, rgba(20, 26, 34, 1) 61%, rgba(88, 97, 108, 1) 100%);
}

/* Main - Cronologia Filmes / 2001 */
#enigma__conteudo {
    padding: 0px 50px 0px 50px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    grid-area: conteudo;
}

#enigma__conteudo h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;
}

.enigma__imagem img {
    height: 400px;
    width: auto;
}

.enigma__imagem {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.enigma__texto {
    text-align: center;
    padding: 10px;
}

.enigma__texto p {
    font-size: 20px;
}

/* Botôes passado - proximo */
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.botoes a,
.botoes span {
    background-color: brown;
    color: black;
    text-transform: uppercase;
}

.botoes a:hover {
    background-color: brown;
    color: black;
}
/* Footer */

footer{
    margin-top: 50px;
    padding: 10px;
}
.texto__footer{
    color: grey;
    font-size: 10px;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase
}

/* Animação */
@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}