* {
    padding: 0;
    margin: 0;
    color: #dddd;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia', cursive;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    
}

h1 {
    font-family: 'Sofia', cursive;
}

p {
    font-size: 20px;
}


body {
    background: rgb(20, 8, 62);
    background: linear-gradient(140deg, rgba(20, 8, 62, 1) 22%, rgba(20, 26, 34, 1) 61%, rgba(88, 97, 108, 1) 100%);
}

/* cabeçalho */

nav{
    margin-bottom: 100px;
    position: fixed;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.938813025210084) 0%, rgba(0,0,0,0) 100%);
}


nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    margin-bottom: 100px;
}

nav li {
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #C4C4C4;
}

nav img {
    width: 100px;
}

figcaption{
    text-align: center;
}

.index__conteudo{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 4fr;
    grid-template-areas: 
    "logo__escrita_harry logo__escrita_harry logo__escrita_harry"
    "conteudoprincipal__index conteudoprincipal__index conteudoprincipal__index"
    "brasao_de_hogwarts brasao_de_hogwarts brasao_de_hogwarts"
    "conteudosecundario__index conteudosecundario__index conteudosecundario__index"
    "footer footer footer"
    ;
    padding: 50px;
    padding-top: 0px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}


.logo__escrita_harry img{
    width: 1000px;
    height: auto;
    margin: 18px;
    margin-top: 150px;
} 

.logo__escrita_harry{
    display: flex;
    justify-content: center;
    grid-area: logo__escrita_harry;
} 
.conteudoprincipal__index{
    grid-area: conteudoprincipal__index;
    text-align: center;
    margin-top: 70px;
}
 .brasao_de_hogwarts img{
    width: 500px;
    height: auto;
    margin: 18px;
} 

.brasao_de_hogwarts{
    display: flex;
    justify-content: center;
    grid-area: brasao_de_hogwarts;
} 

.conteudosecundario__index{
    grid-area: conteudosecundario__index;
    text-align: center;
    margin-top: 70px;
}
/* Footer */

footer{
    grid-area: footer;

    padding: 10px;
}
.texto__footer{
    color: grey;
    font-size: 10px;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
}



@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

/* newsletter */
.newsletter_description {
    text-align: center;
    margin-top: 50px;
}

.newsletter_body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.newsletter_input_cima input {
    display: inline-block;
    font-size: 15px;
    width: 319.4px;
    text-transform: uppercase;
    border: 0px;
    background: transparent;
    border-bottom: 1px solid grey;
    line-height: 30px;
    margin-right: 20px;
    margin-top: 50px;
    text-decoration: none;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.newsletter_input_meio input {
    display: inline-block;
    display: flex;
    font-size: 15px;
    width: 662px;
    text-transform: uppercase;
    border: 0px;
    background: transparent;
    border-bottom: 1px solid grey;
    line-height: 30px;
    margin-right: 20px;
    margin-top: 40px;
    box-shadow: 0 0 0 0;
    outline: 0;
    color: grey;
}

.newsletter_input_baixo textarea {
    display: inline-block;
    font-size: 15px;
    width: 662px;
    text-transform: uppercase;
    border: 0px;
    background: transparent;
    border: 1px solid grey;
    line-height: 30px;
    margin-right: 20px;
    margin-top: 40px;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.newsletter_body_button {
    display:flex;
    justify-content: center;
    align-items: center;
}

.newsletter_body_button #botao1 {
    margin-top: 50px;
}

#botao1 {
    display: inline-block;
    background-color: grey;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}