* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia', cursive;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;

}

h1 {
    font-family: 'Sofia', cursive;
}

body {
    background-color: #100129;

}

/* cabeçalho */

nav{
    margin-bottom: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    background-color: #474747;
    margin-bottom: 100px;
}

nav li {
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #C4C4C4;
}

nav img {
    margin-right: 100px;
    border: solid 1px #C4C4C4;
    border-radius: 50% ;
}

.casas__conteudo__direita {
    padding: 50px;
    display: flex;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.casas__conteudo__direita h3 {
    text-align: center;
    font-size: 48px;
}

.casas__conteudo__direita {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.casas__imagem__direita img {
    height: 400px;
    width: 400px;
}

.casas__descricao__direita h3 {
    font-size: 32px;
    padding: 25px;
    text-align: center;
}

.casas__descricao__direita p {
    padding: 50px;
    font-size: 20px;
}

.casas__conteudo__esquerda {
    padding: 50px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    
}

.casas__conteudo__esquerda h3 {
    text-align: center;
    font-size: 48px;
}

.casas__conteudo__esquerda {
    margin-top: 50px;
    margin-bottom: 50px;
}

.casas__imagem__esquerda{
    height: 400px;
    width: 400px;
    align-items: center;
}

.casas__descricao__esquerda h3 {
    font-size: 32px;
    padding: 25px;
    text-align: center;
}

.casas__descricao__esquerda p {
    padding: 50px;
    font-size: 20px;
}

/* Footer */

footer{

    margin-top: 100px;
}


footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    background-color: #474747;
}

footer li {
    color: white;
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
}

/* ANIMAÇÃO
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1; 
    
    @keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
*/