* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia', cursive;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;

}

h1 {
    font-family: 'Sofia', cursive;
}

p {
    font-size: 20px;
}

body {
    background-color: #100129;

}

/* cabeçalho */

nav{
    margin-bottom: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    background-color: #474747;
    margin-bottom: 100px;
}

nav li {
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #C4C4C4;
}

nav img {
    border: solid 1px #C4C4C4;
    border-radius: 50% ;
}

#conteudo__casas {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1; 
}

.casas_chapeuSeletor{
    text-align: center;
}

.casas_chapeuSeletor h1 {
    font-family: 'Sofia', cursive;
    font-size: 40px;
    padding: 10px;
}

.casas_chapeuSeletor h2{
    font-family: 'Sofia', cursive;
    font-size: 30px;
    padding: 10px; 
}

.casas_chapeuSeletor p{
    padding: 10px;
}

.casas__bloco__externo{
    padding: 50px;
    display: flex;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.casas__bloco__interno{
    display: block;
}

.casas__conteudo__interno {
   text-align: center;
}

.casas__conteudo__interno img{
    width: auto;
    height: 440px;
    padding: 10px;
 }

.casas__conteudo__interno h2{
   padding: 10px;
   font-size: 30px;
 }

.casas__conteudo__interno p{
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
 }

/* Footer */

footer{

    margin-top: 100px;
}


footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    background-color: #474747;
}

footer li {
    color: white;
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}