* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia', cursive;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;

}

h1 {
    font-family: 'Sofia', cursive;
}

body {
    background-color: #100129;

}

/* cabeçalho */

nav{
    margin-bottom: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    background-color: #474747;
    margin-bottom: 100px;
}

nav li {
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #C4C4C4;
}

nav img {
    margin-right: 100px;
    border: solid 1px #C4C4C4;
    border-radius: 50% ;
}

p{
    margin-top: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
    margin-left: 18px;
}

.logo_escrita_harry img{
    width: 888px;
    height: 329px;
    margin: 18px;
}

.logo_escrita_harry{
    display: flex;
    justify-content: center;
}

.brasao_de_hogwarts img{
    width: 500px;
    height: auto;
    margin: 18px;
}

.brasao_de_hogwarts{
    display: flex;
    justify-content: center;
}

/* Footer */

footer{

    margin-top: 100px;
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    background-color: #474747;
}

footer li {
    color: white;
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
}

/* ANIMAÇÃO
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1; 
    
    @keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
*/