* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia', cursive;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;

}

h1 {
    font-family: 'Sofia', cursive;
}

body {
    background-color: #100129;

}

/* cabeçalho */
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    background-color: #474747;
    margin-bottom: 100px;
}

nav li {
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #C4C4C4;
}

nav img {
    margin-right: 100px;
    border: solid 1px #C4C4C4;
    border-radius: 50% ;
}

/* Section - Universo Harry Potter / Titulo e resumo */
#personagens__titulo {
    padding: 50px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

#personagens__titulo h3 {
    text-align: center;
    font-size: 48px;
}

#personagens__titulo p {
    font-size: 20px;
}

/* Main - Universo Harry Potter / Locais Marcantes */

.personagem__conteudo {
    padding: 50px;
    display: flex;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.personagem__conteudo h3 {
    text-align: center;
    font-size: 48px;
}

.personagem__conteudo {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.imagem__personagem img {
    height: 375px;
    width: 500px;
}

.personagens__descricao h3 {
    font-size: 32px;
    padding: 25px;
    text-align: center;
}

.personagens__descricao p {
    padding: 50px;
    font-size: 20px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

/* Footer */
footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100%;
    height: 60px;
    background-color: #474747;
}

footer li {
    color: white;
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 30px;
}